<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Need microphone access to detect loud sound direction.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Need compass access to determine sound direction.</string>
</dict>
</plist>
